name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  linux-test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json
          dotnet-version: '9.0.x'

      - name: Check format
        run: dotnet tool restore && dotnet tool run csharpier check .
        
      - name: Run tests
        run: dotnet test --configuration Release -p:PublishAot=false 
          
      - name: Run AOT tests
        run: |
          dotnet publish tests/LightProto.Tests/ -f net8.0 -r linux-x64 -c Release
          ./tests/LightProto.Tests/bin/Release/net8.0/linux-x64/publish/LightProto.Tests
          
      - name: Run Benchmarks
        run: |
          dotnet run -c Release -f net8.0 net9.0 net10.0 --project ./tests/Benchmark -- --filter "*" --exporters github --artifacts ./BenchmarkResults
          cat ./BenchmarkResults/results/*.md >> $GITHUB_STEP_SUMMARY
        
      - name: Post benchmark result as PR comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
         path: ./BenchmarkResults/results/*.md
         hide_and_recreate: true
         hide_classify: "OUTDATED"
      
      - name: Test package creation
        run: |
          dotnet pack --configuration Release --output ./test-packages src/LightProto/
  
  windows-test:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
          
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Check format
        run: dotnet tool restore && dotnet tool run csharpier check .
        
      - name: Run tests and collect code coverage
        run: dotnet test --configuration Release -p:PublishAot=false --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Run AOT tests
        run: |
          dotnet publish tests/LightProto.Tests/ -f net8.0 -r win-x64 -c Release
          ./tests/LightProto.Tests/bin/Release/net8.0/win-x64/publish/LightProto.Tests.exe

      - name: Test package creation
        run: |
          dotnet pack --configuration Release --output ./test-packages src/LightProto/
